node_modules
.cache
Dockerfile
.azure
.dockerignore
.git
.editorconfig
.strapi-updater.json
.env
.k8s
.nuxt
.output
.github
.vscode
build
data
docker-compose.yml
test
dist
static/*
!static/plant.png
!static/monstera.png